<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>功能未开启</title>
    <link href="${STATIC_URL}css/base.css?v=1.0.1" rel="stylesheet" type="text/css"/>
</head>

<body style="font-family:Microsoft Yahei;" class="king-errorpage-middle">
    <div class="king-exception-box king-login-page">
        <img src="${STATIC_URL}img/expre_403.png">        
        <h1>该功能尚未对外开放！</h1>
        <div style="text-align:left;margin-left:130px;">
	        <p><strong>可能原因：</strong></p>
	        <p>1、该管理员关闭了该功能,如有需要请联系管理员；</p>
	        <p>2、系统异常，请联系管理员检查func_code。</p> 
	    </div>
    </div>
</body>
</html>


