amqp==1.4.6
anyjson==0.3.3
Babel==2.4.0
backports.ssl-match-hostname==3.5.0.1
billiard==3.3.0.20
celery==3.1.18
certifi==2017.4.17
cycler==0.10.0
Django==1.8.11
django-celery==3.1.16
flower==0.9.1
functools32==3.2.3.post2
futures==3.1.1
httplib2==0.9.1
kombu==3.0.26
lxml==3.7.3
Mako==1.2.2
MarkupSafe==0.23
matplotlib==2.0.0
MySQL-python==1.2.5
Naked==0.1.31
numpy==1.12.0
pycrypto==2.6.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2015.4
PyYAML==3.12
pyzabbix==0.7.4
requests==2.13.0
shellescape==3.4.1
simplejson==3.10.0
six==1.10.0
subprocess32==3.2.7
suds==0.4
tornado==4.2
xlrd==1.0.0
