<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>未登录蓝鲸智云(401页)</title>
<link href="${STATIC_URL}css/base.css?v=1.0.1" rel="stylesheet" type="text/css"/>
</head>

<body class="king-errorpage-middle">
	<div class="king-exception-box king-login-page">
		<img src="${STATIC_URL}img/expre_login.png">           
		<h1>您需要登录蓝鲸智云</h1>
		<a href="###" style="cursor:pointer;" onclick="window.top.location.reload()">立即登录</a> 
	</div>
</body>

</html>
